.movie-container 
{
    display:flex;
    justify-content:space-between;
}
.movie-container > dl
{
    width: 50%;
}
    .movie-container a {
        overflow-wrap: break-word;
        word-break: break-word;
    }
    .movie-container img {
        width: 30%;
    }